build:
  type: text
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/AshutoshKapoor
    # make all
    # docker build
deploy:
  type: text
  bash: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/AshutoshKapoor
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: ""
    configPath: AshutoshKapoor/AshutoshKapoor/
    configType: artillery
