build:
  type: dockerFile
  dockerFile: AshutoshKapoor/GitTest/3
deploy:
  type: helm
  helm:
    chartName: "3"
    namespace: "3"
    overrideValues: "3"
test:
  - name: "3"
    configPath: AshutoshKapoor/GitTest/
    configType: artillery
  - name: "3"
    configPath: AshutoshKapoor/GitTest/
    configType: artillery
