build:
  type: bash
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/AshutoshKapoor
    # make all
    # docker build
deploy:
  type: helm
  helm:
    chartName: "1"
    namespace: "1"
    overrideValues: "1"
test:
  - name: "1"
    configType: postman
    configPath: AshutoshKapoor/AshutoshKapoor/
  - name: "2"
    configType: custom
    customType: file
    configPath: null
  - name: "3"
    configType: custom
    customType: commands
    commands:
      - "3"
    status: "3"
    response: "3"
